# VisualStudio2019
/VisualStudioWorkspace/.vs
/VisualStudioWorkspace/Debug
/VisualStudioWorkspace/VisualStudioWorkspace/Debug
/VisualStudioWorkspace/VisualStudioWorkspace/VisualStudioWorkspace.vcxproj.user
