# VisualStudio2019
/VisualStudioWorkspace/.vs
/VisualStudioWorkspace/x64
/VisualStudioWorkspace/VisualStudioWorkspace/x64/
/VisualStudioWorkspace/VisualStudioWorkspace/VisualStudioWorkspace.vcxproj.user
